.ownersimages{
    display: flex;
    flex-direction: column;
    
    align-items:flex-end;
    
}
.owner1{
width: 25rem;
height: 20rem;
}
.owner2{
    width: 25rem;
    height: 20rem;
    }
    .ownerimage{
        max-width: 100%;
        object-fit: cover;
        border-radius: 10%;
    }